In [460]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [461]:
log = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-r-ababkov/shared/homeworks/python_ds_miniprojects/5_subsid/subsid/prod_activations_logs.csv', sep=';')

In [1]:
# df_log = pd.DataFrame()
# for i in os.listdir('/mnt/HC_Volume_18315164/home-jupyter/jupyter-r-ababkov/shared/homeworks/python_ds_miniprojects/5_subsid/subsid/'):
#     way_to_csv = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-r-ababkov/shared/homeworks/python_ds_miniprojects/5_subsid/subsid/' + i
#     final_df = pd.read_csv(way_to_csv, sep=';')
#     df_log = pd.concat([df_log, final_df])

In [463]:
df_1 = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-r-ababkov/shared/homeworks/python_ds_miniprojects/5_subsid/subsid/tm_sales_1.csv', sep=';')

In [464]:
df_2 = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-r-ababkov/shared/homeworks/python_ds_miniprojects/5_subsid/subsid/tm_sales_2.csv', sep=';')

In [465]:
df_3 = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-r-ababkov/shared/homeworks/python_ds_miniprojects/5_subsid/subsid/tm_sales_3.csv', sep=';')

In [ ]:
#Необходимо проверить подключения продуктов определенным пользователям, 
    #соединив файлы о продажах с логами по подключениям в системе

In [466]:
df_total = pd.concat([df_1, df_2, df_3])

In [467]:
df_total

     SUBS_ID  FILIAL_ID  PROD_ID          ACT_DTTM
0  id4651830          1     1954  20-03-2020 14:59
1    7646509          5     6431  19-03-2020 13:00
2  id7412683          4     3313  22-03-2020 17:25
0  id5416547          3     1743  17-03-2020 10:17
1        NaN          4     7421  12-03-2020 11:25
2    8362218          7     9879  05-03-2020 11:42
3    2185490          2     3210  16-03-2020 16:28
0  id5764122          3     1499  18-03-2020 15:44
1  id7642700          6     3020  15-03-2020 14:21
2  id1374509          2     5677  17-03-2020 11:48

In [468]:
df_total = df_total.dropna(subset=['SUBS_ID']) \
    .reset_index(drop=True)

In [469]:
def id_df(SUBS_ID):
    if not SUBS_ID.startswith('id'):
        id_df = 'id' + SUBS_ID
        return id_df
    else:
        return SUBS_ID

In [470]:
df_total['SUBS_ID'] = df_total.SUBS_ID.apply(id_df)

In [471]:
total_log = df_total.merge(log, how = 'inner', on = ['SUBS_ID', 'PROD_ID'])

In [472]:
total_log['START_DTTM']= pd.to_datetime(total_log['START_DTTM'], format='%d-%m-%Y %H:%M')

In [473]:
total_log['END_DTTM'] = pd.to_datetime(total_log['END_DTTM'], format='%d-%m-%Y %H:%M')

In [474]:
total_log.sort_values('SUBS_ID')

,SUBS_ID,FILIAL_ID,PROD_ID,ACT_DTTM,START_DTTM,END_DTTM
3,id2185490,2,3210,16-03-2020 16:28,2020-03-16 16:28:00,2020-12-01 00:00:00
0,id4651830,1,1954,20-03-2020 14:59,2020-03-20 14:59:00,2020-12-01 00:00:00
2,id5416547,3,1743,17-03-2020 10:17,2020-03-17 10:17:00,2020-03-25 11:00:00
4,id7642700,6,3020,15-03-2020 14:21,2020-03-15 14:21:00,2020-03-15 23:42:00
1,id7646509,5,6431,19-03-2020 13:00,2020-03-19 13:00:00,2020-03-19 13:03:00

In [475]:
delta = total_log.END_DTTM - total_log.START_DTTM

In [476]:
delta.sort_values()

1     0 days 00:03:00
4     0 days 09:21:00
2     8 days 00:43:00
0   255 days 09:01:00
3   259 days 07:32:00
dtype: timedelta64[ns]

In [477]:
delta > '5m'

0     True
1    False
2     True
3     True
4     True
dtype: bool

In [478]:
total_log['difference'] = delta

In [479]:
csv = total_log[['ACT_DTTM', 'FILIAL_ID', 'difference']].sort_values('difference', ascending=False)

In [480]:
csv.to_csv('data', sep=';')